<link rel="stylesheet" href="/css/layout.css">
<!-- <h1>Codeial / <%= title %></h1> -->
<div class="container">
    

    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" id="post-content" cols="30" rows="3" placeholder="Type here...."></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
        <div id="post-list-container">
            <ul class="post-list">
                <% for(post of posts){ %>
                <!-- // posts -->
                <%- include('_post'); %>
                <%}%>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
        <p>
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </p>
        <% } %>
    </section>
</div>
