header {
  background-color: #007bff;
  padding-left: 10px; }
  header .navbar {
    display: flex;
    align-items: center; }
    header .navbar .navbar-brand {
      margin-right: 20px; }
      header .navbar .navbar-brand .nav-link {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold; }
    header .navbar .navbar-nav {
      display: flex;
      align-items: center;
      margin-left: auto; }
      header .navbar .navbar-nav .nav-item {
        margin-left: 10px;
        list-style-type: none; }
        header .navbar .navbar-nav .nav-item .nav-link {
          color: #fff;
          text-decoration: none;
          padding: 5px 10px;
          border-radius: 5px; }
          header .navbar .navbar-nav .nav-item .nav-link:hover {
            background-color: #66b0ff;
            cursor: pointer; }
          header .navbar .navbar-nav .nav-item .nav-link.text-success {
            color: #28a745; }
