.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .container .row .bg-primary {
    padding: 20px;
    border-radius: 10px;
    background-color: royalblue; }
    .container .row .bg-primary h1 {
      font-size: 24px;
      margin-bottom: 10px; }
    .container .row .bg-primary p {
      font-size: 18px;
      margin-bottom: 5px; }
